{erl_opts, [no_debug_info, nowarn_export_all]}.
{deps, [{counter, {git, "git@github.com:plux/counter-erlang.git", {branch, "master"}}}]}.

{escript_incl_apps, [advent2020]}.
{escript_main_app, advent2020}.
{escript_name, advent2020}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
